<a href="https://colab.research.google.com/github/Deokgu/python/blob/main/py_aban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1. 파이썬 문법
## 자료형
**숫자형**  
안녕하세요  
곽민재입니다.  
* 정수 : 123, 456, 0, -30  
* 실수 : 12.345, -987.65, 0.7e6  
* 8진수 : 0o765, 0o123  
* 16진수 : 0x00, 0x0A, 0xFF  

**변수**  
* 문자 또는 밑줄로 시작(_kwak, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A-z, 0-9, _)    
 ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (print...)  

**표기법**
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : myName

In [ ]:
a = 10
b = 20
f = "10"
c = a + b
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10
b = 20
c = "10" # 주석
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [ ]:
# 곱셈
a = 10
b = 2
c = a * b # 곱하기
d = a ** b # 제곱
print(c,d)

20 100

#### 문자열
1. 큰따옴표 : "Minjae Kwak"
2. 작은 따옴표 : 'Minjae Kwak'
3. 큰따옴표 3개 : """대한민국"""
4. 작은따옴표 2개 : ''대한민국''
5. "동해물과 백두산이 마르고 닳도록 Kwak\'s"

In [ ]:
# 변수
myName = "Kwak Minjae"
my_name = "곽민재"
_my_name = "Korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "숫자먼저"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 124
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

# 변수할당

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = " is"
z = " beautiful!"
print(x,y,z)
print(x+y+z)

Life  is  beautiful!
Life is beautiful!

In [ ]:
a = 1
b = 2
c = 3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [ ]:
a = "1"
b = "2"
c = "3"
print(a+b+c)
print(a,b,c)

123
1 2 3

데이터 바꾸기

In [ ]:
a = 1;b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
b = 2; c = 3
# c = (b=b+c) #error

SyntaxError: ignored

In [ ]:
a = 1; b = 2; c = 3
f = a + b + \
c
print(f)

6

In [ ]:
# len()

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

#### 계산기

In [ ]:
a = 100
b = 200
result = a + b
print(a, '+', b, '=', result)
result = a - b
print(a, '-', b, '=', result)
result = a / b
print(a, '/', b, '=', result)
result = a * b
print(a, '*', b, '=', result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1 : "))
num2 = int(input("숫자입력2 : "))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1 : 1
숫자입력2 : 2
<class 'int'>
3

In [ ]:
num1 = int(input("숫자입력1 : "))
num2 = int(input("숫자입력2 : "))
result = num1 + num2
print(num1, "+", num2, "=", result)
result = num1 - num2
print(num1, "-", num2, "=", result)
result = num1 / num2
print(num1, "/", num2, "=", result)
result = num1 * num2
print(num1, "*", num2, "=", result)

숫자입력1 : 1
숫자입력2 : 2
1 + 2 = 3
1 - 2 = -1
1 / 2 = 0.5
1 * 2 = 2

In [ ]:
my_name = input("자기이름 : ")
num = input("전화번호 : ")
num2 = int(input("택배(g) : "))
num3 = num2 * 100
print("이름 :", my_name)
print("전화번호 :", num,)
print("택배 :", num2,"g")
print(num2,"g", "X", "100원 =", num3,"원 입니다.")

자기이름 : 곽민재
전화번호 : 01021886784
택배(g) : 200
이름 : 곽민재
전화번호 : 01021886784
택배 : 200 g
200 g X 100원 = 20000 원 입니다.

# CH2. 서식 출력 print()

In [9]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 1234)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
01234
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서 지정 기능 : format

In [10]:
print("{0:d} {1:5d} {2:05d}" .format(123,456,789))

123   456 00789

In [12]:
print("{2:d} {1:5d} {0:05d}" .format(123,456,789))

789   456 00123

#### 서식 출력

In [13]:
print("\n줄 바꿈 명령 \n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [14]:
print("\t탭키 명령 \t연습 입니다.")

	탭키 명령 	연습 입니다.

In [18]:
print("따옴표 글자가 \"강조\"되는 효과")
print("따옴표 글자가 \'강조\'되는 효과")
print("역슬레시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과
따옴표 글자가 '강조'되는 효과
역슬레시 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [ ]:
a,b = 10,20
print(a==b, a!=b, a>=b, a<=b, a>b, a<b)

False True False True False True

#### 논리 연산자 and, or, not

In [23]:
a = 95
print((a>100) and (a<200))  # 100<a<200
print((a<100) or (a>200))   # a<100, a>200
print(not(a==100))          # a<=99, a>=101

False
True
True

In [27]:
if(1):
  print("참이면 실행되어 보임")
if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫 % 나머지 money=int(input("입력:")) 지폐 금액입력 후 동전으로 교환시 (500원, 100원, 50원, 10원)
money, c500, c100, c50, c10
받은돈 : ?원
500원 : ?개
100원 : ?개
50원 : ?개
10원 : ?개
나머지 : ?원

In [44]:
my_name = input("이름:")
money = int(input("입력:"))
print("받은돈 %d원" % money)
c500 = money//500            #500 # 몫
print("500원 %d개" % c500)
a = money%500
c100 = a//100                #100 # 몫
print("100원 %d개" % c100)
a = a%100
c50 = a//50                  #50 # 몫
print("50원 %d개" % c50)
a = a%50
c10 = a//10                  #10 # 몫
print("10원 %d개" % c10)
a = a%10
print("나머지 %d원" % a)

이름:곽민재
입력:3375
받은돈 3375원
500원 6개
100원 3개
50원 1개
10원 2개
나머지 5원

#### 조건문

In [50]:
a = 50
if(a < 100):
  print("100보다 작으면 참")
  print("거짓이면 이 문장은 보이지 않음")
print("프로그램 끝")

100보다 작으면 참
거짓이면 이 문장은 보이지 않음
프로그램 끝

In [54]:
a = 200
if(a<100):
  print("참 : 100보다 작음")
else :
  print("거짓 : 조건보다 크면")
print("프로그램 끝")

거짓 : 조건보다 크면
프로그램 끝

In [58]:
# 홀짝 구분
a = int(input("숫자 입력:"))
if(a%2==0):
  print("짝수 입니다.")
else :
 print("홀수 입니다.")

숫자 입력:1
홀수 입니다.

In [67]:
a = int(input("숫자입력:"))
if(a > 50):
  if(a < 100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a > 25):
    print("25<a<50")
  else:
    print("a < 25")

숫자입력:35
25<a<50

In [69]:
fruit = ['사과', '배', '샤인머스켓', '바나나']
fruit.append('망고')
if '망고' in fruit :
  print("망고가 있습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

In [71]:
for i in range(1,3,1):  #시작값, 끝깞+1, 증가값
  print("%d 안녕하세요." % i)
print("환영합니다.")

1 안녕하세요.
2 안녕하세요.
환영합니다.

In [85]:
import random
num = []
for i in range(0,6):
  num.append(random.randrange(1,46))
print("생성 리스트", num)

생성 리스트 [12, 43, 14, 43, 44, 31]

In [91]:
for i in range(1,9,1):
  print("%d" % i, end='\t')
print("\n")
for j in range(1,9,1):
  print("%d" % j, end='\t')

1	2	3	4	5	6	7	8

1	2	3	4	5	6	7	8

In [94]:
sum = 0
for i in range(1,11):
  sum = sum + i
print("1부터 10까지의 합 : %d" % sum)

1부터 10까지의 합 : 55

In [100]:
sum,num = 0,0
num = int(input("숫자입력:"))
for i in range(1,num+1,1):
  sum = sum + i
print("1~n까지의 합 : %d" % sum)

숫자입력:10000
1~n까지의 합 : 50005000

In [102]:
i,j = 2,0
for j in range(1,10):
  print("%d x %d = %2d" % (i, j, i*j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [103]:
i,j,k = 0,0,0
for i in range(2,10):
  for j in range(1,10):
    print("%d x %d = %2d" % (i, j, i*j))
  print("")

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### Quiz3 구구단을 만들고 2,3,4,5 줄 바꿔서 6,7,8,9를 출력하시오.

In [111]:
i,j,k = 0,0,0
for j in range(1,10):
  for i in range(2,6):
    print("%d x %d = %2d" % (i, j, i*j), end='\t')
  print("")
print("\n")
for j in range(1,10):
  for i in range(6,10):
    print("%d x %d = %2d" % (i, j, i*j), end='\t')
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81